@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.image{
  background: url("../public/images/mantruck.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
}
.blackFon{
  background: rgba(0, 0, 0,0.4);
}