@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.image{
  background: url("../public/images/mantruck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bgFon{
  background-color: rgba(0, 0, 0,0.7);
}